body 
{ 
    width:100%; 
    height:100%; 
    background-color:#ff0000; 
} 

vl 
{
    width:100%; 
    height:100%; 
     background-color:#9659B1; 
    /*background-image:url(Image\black_background.jpg);*/ 
} 

hl {
	width: 100%;
	height: 100%;
    background-color:#ff0000;

}


Button 
{ 
    width:75%; 
    height:6%; 
    background-color:#50325D; 
    color:#F2E9F6;
    margin-top:2%;
    margin-left:13%;
     text-align: center;
}
<<<<<<< HEAD
CssButton
=======
.CssButton
>>>>>>> refs/remotes/origin/master
{ 
    width:50%; 
    height:10%; 
    background-color:#7b68ee; 
    color:#c6e2ff;
    margin-top:2%;
    margin-left:25%;
     text-align: center;
}

<<<<<<< HEAD
ChangeCssButton
=======
.ChangeCssButton
>>>>>>> refs/remotes/origin/master
{ 
    width:25%; 
    height:10%; 
    background-color:#008b8b; 
    color:#ffe1ff;
    margin-top:2%;
     margin-left:37%;
     text-align: center;
}

<<<<<<< HEAD
CheckBox {
=======
.CheckBox {
>>>>>>> refs/remotes/origin/master
	width: 50%;
	height: 10%;
    margin-top:2%;   
     margin-left:25%;
}

<<<<<<< HEAD
CssCheckBox {
=======
.CssCheckBox {
>>>>>>> refs/remotes/origin/master
	width: 50%;
	height: 10%;
    margin-top:2%;   
     margin-left:50%;
}

<<<<<<< HEAD
HorizontalLine {
=======
.HorizontalLine {
>>>>>>> refs/remotes/origin/master
    margin-top:2%;  
  height: 10px;
	width: 100%;
	background-color: #3f8764;
}

<<<<<<< HEAD
CssHorizontalLine{
=======
.CssHorizontalLine{
>>>>>>> refs/remotes/origin/master
       margin-top:2%;
  height: 20px;
	width: 100%;
	background-color: #9f0303;

}

<<<<<<< HEAD
TextView {
=======
.TextView {
>>>>>>> refs/remotes/origin/master
	width: 100%;
	height: 5mm;
	color: #000;
	background-color: #eee;
	font-size: 80%;
	padding-top: 10%;
    margin-top:2%;  
    text-align: center;
}
<<<<<<< HEAD
CssTextView {
=======
.CssTextView {
>>>>>>> refs/remotes/origin/master
	width: 100%;
	height: 6mm;
	color: #eee;
	background-color: #a4ae08;
     border-style: solid;
	font-size: 80%;
	padding-top: 10%;
    margin-top:2%;  
    text-align: center;
<<<<<<< HEAD
}

CssVerticalLayout{
=======
  
}

.CssVerticalLayout{
>>>>>>> refs/remotes/origin/master
    width: 50%;
    height: 20%;
    margin-top: 10%;
   background-color:#2c3fc7; 
   background-image:url(Image\cats.jpg);
}

<<<<<<< HEAD
HorizontalLayout {
=======
.HorizontalLayout {
>>>>>>> refs/remotes/origin/master
	width: 25%;
	height: 10%;
    margin-top: 10%;
    background-color:#ff0000;

}

<<<<<<< HEAD
CssHorizontalLayout{
=======
.CssHorizontalLayout{
>>>>>>> refs/remotes/origin/master
    width: 100%;
    height: 18%;
    margin-top: 10%;
   background-color:#2c3fc7; 
}

<<<<<<< HEAD
Image {
=======
.Image {
>>>>>>> refs/remotes/origin/master
    width: 50%;
	height: 0%;
		margin-left: 10%;
		margin-top: 10%;
		margin-right: 10%;
		margin-bottom: 10%;
	}

<<<<<<< HEAD
CssImage {
=======
.CssImage {
>>>>>>> refs/remotes/origin/master
    width: 100%;
	height: 0%;
		margin-left: 20%;
		margin-top: 20%;
		margin-right: 20%;
		margin-bottom: 20%;
	}

<<<<<<< HEAD
EditText {
=======
.EditText {
>>>>>>> refs/remotes/origin/master
	width: 100%;
	height: 5mm;
        margin-top:2%;
	color: #09f;
	background-color: #eee;
	font-size: 80%;
	padding-top: 10%;
	placeholder-color: #8b7765;
}

<<<<<<< HEAD
CssEditText {
=======
.CssEditText {
>>>>>>> refs/remotes/origin/master
    
    width: 100%;
	height: 5mm;
     margin-top:2%;
	color: #f9f0f6;
	background-color: #fc3936;
	font-size: 80%;
	padding-top: 10%;
	placeholder-color: #470d6f;
}

<<<<<<< HEAD
Indicator {
=======
.Indicator {
>>>>>>> refs/remotes/origin/master
	color: #FF8C00;
	height: 10mm;
	width: 10mm;
}

<<<<<<< HEAD
CssIndicator {
=======
.CssIndicator {
>>>>>>> refs/remotes/origin/master
	color: #0a3a6d;
	height: 20mm;
	width: 20mm;
}

<<<<<<< HEAD
DockLayout {
width: 100%;
	height: 10%;
    margin-top: 10%;
    background-color:#000;
	}

MemoEdit {
=======
.DockLayout {
width:100%;
 height:100%; 
 background-image:url(Image\cats.jpg);
	}

.DockLayout2 {
width:50%;
 height:50%; 
 background-image:url(Image\cats.jpg);
	}



.MemoEdit {
>>>>>>> refs/remotes/origin/master
	width: 100%;
	height: 5mm;
        margin-top:2%;
	color:  #2f2f2f;
	background-color: #ffff00;
	font-size: 80%;
	padding-top: 10%;
	placeholder-color: #ffffff;
}

<<<<<<< HEAD
CssMemoEdit {
=======
.CssMemoEdit {
>>>>>>> refs/remotes/origin/master
    
    width: 100%;
	height: 5mm;
     margin-top:2%;
	color: #f9f0f6;
	background-color: #fc3936;
	font-size: 80%;
	padding-top: 10%;
	placeholder-color: #470d6f;
<<<<<<< HEAD
=======
}

.cats {
     width:50%; height:50%; margin-left:25%; margin-top:25%; background-color:#00ff00;
>>>>>>> refs/remotes/origin/master
}